<footer>
  <div class="row">
    <div class="col-6">
      <h3>WE'D LOVE TO HAVE YOU JOIN US!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Similique est quis repellat 
        accusamus sunt quae cupiditate omnis expedita, 
        quibusdam, eius nostrum obcaecati maxime atque 
        molestias quasi nisi beatae ipsa in debitis delectus 
        aspernatur dignissimos. Eaque, sapiente mollitia! 
        Est eius temporibus dicta veniam? Ex omnis inventore magni 
        ratione maiores iure laborum!</p>
        <div class="social">
          <div class="icon">tel</div>
          <div class="icon">twitter</div>
          <div class="icon">In</div>
        </div>
    </div>
    <div class="col-6">
      col 2
    </div>
  </div>
</footer>
<script src="./js/all.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
